<div class="page-wrapper" ng-controller="EmployeesController" ng-init="getUserId('{{user._id}}')">
    <!-- MENU SIDEBAR-->
    <aside class="menu-sidebar2">
        <div class="logo">
            <a href="#">
                <h2 style="color: white">¡Sueldos Ya!</h2>
            </a>
        </div>
        <div class="menu-sidebar2__content js-scrollbar1">
            <div class="account2">
                <h4 class="name">{{user.name}}</h4>
                <a href="/logout">Cerrar sesión</a>
            </div>
            <nav class="navbar-sidebar2">
                <ul class="list-unstyled navbar__list">
                    <li class="active">
                        <a>
                            <i class="fa fa-user"></i>Empleados
                        </a>
                    </li>
                    <li>
                        <a href="/updates">
                            <i class="fa fa-check-square"></i>Novedades
                        </a>
                    </li>
                    <li>
                        <a href="/payroll">
                            <i class="fa fa-dollar"></i>Liquidaciones
                        </a>
                    </li>
                    <li>
                        <a href="/bills">
                            <i class="fa fa-list-alt"></i>Facturas
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>
    <!-- END MENU SIDEBAR-->

    <!-- PAGE CONTAINER-->
    <div class="page-container2">
        <!-- BREADCRUMB-->
        <section class="au-breadcrumb m-t-75">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="au-breadcrumb-content">
                                <div class="au-breadcrumb-left">
                                    <span class="au-breadcrumb-span">Usted está aquí:</span>
                                    <ul class="list-unstyled list-inline au-breadcrumb__list">
                                        <li class="list-inline-item">Empleados</li>
                                    </ul>
                                </div>
                                <button class="au-btn au-btn-icon au-btn--green" type="button" data-toggle="modal"
                                    data-target="#largeModal" ng-click="newEmployee()">
                                    <i class="zmdi zmdi-plus"></i>Nuevo Empleado
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END BREADCRUMB-->

        <!-- HEADER -->
        <header class="header-desktop2">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="header-wrap2">
                    </div>
                </div>
            </div>
        </header>
        <!-- END HEADER -->
        
        <section>
            <div class="section__content section__content--p30">
                <div class="container-fluid ">
                    <div class="row">
                        <div class="col-xl-12">
                            <!-- USER DATA-->
                            <div class="user-data m-b-40">
                                <h3 class="title-3 m-b-30"><i class="zmdi zmdi-account-box-o"></i>Empleados</h3>
                                <div class="table-responsive table-data">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <td>Nombre / DNI</td>
                                                <td>Tipo de Salario</td>
                                                <td>Sueldo</td>
                                                <td>Estado</td>
                                                <td>Acciones</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="employee in employees">
                                                <td>
                                                    <div class="table-data__info">
                                                        <h6 ng-bind="employee.name"></h6>
                                                        <span ng-bind="employee.dni"></span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="table-data__info">
                                                        <span ng-if="employee.payroll_type == 'monthly'">Mensual</span>
                                                        <span ng-if="employee.payroll_type == 'per_hour'">Por hora</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="table-data__info">
                                                        $ <span ng-if="employee.payroll_type == 'monthly'" ng-bind="employee.gross_salary"></span>
                                                        <span ng-if="employee.payroll_type == 'per_hour'" ng-bind="employee.salary_per_hour"></span>
                                                        <span ng-if="employee.payroll_type == 'per_hour'"> / hora</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <span ng-if="employee.status == 'active'" class="state active">Activo</span>
                                                    <span ng-if="employee.status == 'inactive'" class="state inactive">Inactivo</span>
                                                </td>
                                                <td>
                                                    <button class="action-icon" data-toggle="modal" data-target="#largeModal" ng-click="getEmployee(employee._id)">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                    <button class="action-icon" data-toggle="modal" data-target="#smallModal" ng-click="getEmployee(employee._id)">
                                                        <i class="fa fa-trash"></i>
                                                    </button>
                                                    <button class="action-icon" title="Agregar novedad" data-toggle="modal" data-target="#largeModal2" ng-click="getEmployee(employee._id)">
                                                        <i class="fa fa-plus"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- END USER DATA-->
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- EMPLOYEE REGISTER -->
        <div class="modal fade" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="largeModalLabel">Agregar Empleado</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label>Nombre</label>
                                <input ng-model="form.name" class="au-input au-input--full" type="text" name="name" placeholder="Nombre del empleado...">
                            </div>
                            <div class="form-group">
                                <label>Dirección</label>
                                <input ng-model="form.address" class="au-input au-input--full" type="text" name="address" placeholder="Dirección de vivienda del empleado...">
                            </div>
                            <div class="form-group">
                                <label>Fecha de Cumpleaños</label>
                                <input ng-model="form.birth_day" id="datepicker" class="au-input au-input--full" type="text" name="birth_day" placeholder="Día de Cumpleaños del empleado...">
                            </div>
                            <div class="form-group">
                                <label>DNI</label>
                                <input ng-model="form.dni" class="au-input au-input--full" type="text" name="dni" placeholder="DNI del empleado...">
                            </div>
                            <div class="form-group">
                                <label>Tipo de Pago</label>
                                <div class="form-check">
                                    <div class="radio">
                                        <label for="monthly" class="form-check-label ">
                                            <input ng-model="form.payroll_type" id="monthly" type="radio" name="payroll_type" value="monthly" class="form-check-input" ng-disabled="form.employee_id">Mensual
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label for="per_hour" class="form-check-label ">
                                            <input ng-model="form.payroll_type" id="per_hour" type="radio" name="payroll_type" value="per_hour" class="form-check-input" ng-disabled="form.employee_id">Por Hora
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" ng-show="form.payroll_type == 'monthly'">
                                <label>Salario Mensual</label>
                                <input ng-model="form.gross_salary" class="au-input au-input--full" type="number" name="gross_salary" placeholder="Salario Mensual del empleado..." ng-disabled="form.employee_id">
                            </div>
                            <div class="form-group" ng-show="form.payroll_type == 'monthly'">
                                <label>Deducciones</label>
                                <input ng-model="form.deductions" class="au-input au-input--full" type="number" name="deductions" placeholder="Jubilación, PAMI y Obra Social (17% por defecto)">
                            </div>
                            <div class="form-group" ng-show="form.payroll_type == 'per_hour'">
                                <label>Salario Por Hora</label>
                                <input ng-model="form.salary_per_hour" class="au-input au-input--full" type="number" name="salary_per_hour" placeholder="Salario Por Hora del empleado..." ng-disabled="form.employee_id">
                            </div>
                            <div class="form-group" ng-show="form.payroll_type == 'per_hour'">
                                <label>Horas Estimadas</label>
                                <input ng-model="form.estimated_hours" class="au-input au-input--full" type="number" name="estimated_hours" placeholder="Horas estimadas diarias del empleado...">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="close-modal-btn">Cancelar</button>
                        <button type="button" class="btn btn-primary" ng-click="registerEmployee()">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- END EMPLOYEE REGISTER -->


        <!-- UPDATE REGISTER -->
        <div class="modal fade" id="largeModal2" tabindex="-2" role="dialog" aria-labelledby="largeModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="largeModalLabel">Agregar novedad para <span ng-bind="form.name"></span></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label>Tipo de novedad</label>
                                <select ng-model="updateForm.update" name="select" id="select" class="form-control">
                                    <option value="">Elija un tipo de novedad</option>
                                    <option value="salary_change" ng-if="form.payroll_type == 'monthly'">Cambio de Sueldo</option>
                                    <option value="per_hour_change" ng-if="form.payroll_type == 'per_hour'">Cambio de valor por hora</option>
                                    <option value="worked_hours" ng-if="form.payroll_type == 'per_hour'">Horas trabajadas</option>
                                    <option value="absense_days" ng-if="form.payroll_type == 'monthly'">Días ausentes</option>
                                    <option value="vacation_days" ng-if="form.payroll_type == 'monthly'">Días de vacaciones</option>
                                    <option value="bonus">Bono</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Monto / Cantidad</label>
                                <input ng-model="updateForm.mount" class="au-input au-input--full" type="number" name="mount" placeholder="Valor bono, cantidad días o cantidad horas">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="close-modal-btn2">Cancelar</button>
                        <button type="button" class="btn btn-primary" ng-click="newUpdate()">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- END UPDATE REGISTER -->

        <!-- UPDATE REGISTER -->
        <div class="modal fade" id="smallModal" tabindex="-2" role="dialog" aria-labelledby="smallModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="largeModalLabel">Esta seguro que desea eliminar el empleado <span ng-bind="form.name"></span></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="close-modal-btn3">Cancelar</button>
                        <button type="button" class="btn btn-primary" ng-click="deleteEmployee()">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- END UPDATE REGISTER -->
    </div>
    <!-- END PAGE CONTAINER-->
</div>