<div class="page-wrapper" ng-controller="PayrollController" ng-init="getUserId('{{user._id}}')">
    <!-- MENU SIDEBAR-->
    <aside class="menu-sidebar2">
        <div class="logo">
            <a href="#">
                <h2 style="color: white">¡Sueldos Ya!</h2>
            </a>
        </div>
        <div class="menu-sidebar2__content js-scrollbar1">
            <div class="account2">
                <h4 class="name fade-text">{{user.name}}</h4>
                <a href="/logout">Cerrar sesión</a>
            </div>
            <nav class="navbar-sidebar2">
                <ul class="list-unstyled navbar__list">
                    <li>
                        <a href="/employees">
                            <i class="fa fa-users"></i>Empleados
                        </a>
                    </li>
                    <li>
                        <a href="/updates">
                            <i class="fa fa-check-square"></i>Novedades
                        </a>
                    </li>
                    <li>
                        <span class="active fade-background white-text">
                            <i class="fa fa-dollar"></i>Liquidaciones
                        </span>
                    </li>
                    <li>
                        <a href="/bills">
                            <i class="fa fa-list-alt"></i>Facturas
                        </a>
                    </li>
                    <li>
                        <a href="/profile">
                            <i class="fa fa-user"></i>Cuenta
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>
    <!-- END MENU SIDEBAR-->

    <!-- PAGE CONTAINER-->
    <div class="page-container2">
        
        <!-- BREADCRUMB-->
        <section class="au-breadcrumb m-t-75">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="au-breadcrumb-content">
                                <div class="au-breadcrumb-left">
                                    <span class="au-breadcrumb-span">Usted se encuentra aquí:</span>
                                    <ul class="list-unstyled list-inline au-breadcrumb__list">
                                        <li class="list-inline-item">Liquidaciones</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END BREADCRUMB-->

        <!-- HEADER -->
        <header class="header-desktop2 fading">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="header-wrap2">
                    </div>
                </div>
            </div>
        </header>
        <!-- END HEADER -->

        <section>
            <div class="section__content section__content--p30">
                <div class="container-fluid ">
                    <div class="row">
                        <div class="col-xl-12">
                            <!-- USER DATA-->
                            <div class="user-data m-b-40">
                                <h3 class="title-3 m-b-30 white-text clearfix">
                                    <i class="zmdi zmdi-money-box"></i>Liquidaciones
                                </h3>
                                <div class="table-data">
                                    <table class="table" ng-if="payrolls.length != 0">
                                        <thead class="white-text">
                                            <tr>
                                                <td class="white-text">Empleado</td>
                                                <td class="white-text">Tipo de Sueldo</td>
                                                <td class="white-text">Total bruto</td>
                                                <td class="white-text">Total</td>
                                                <td class="white-text">Fecha de Pago</td>
                                                <td class="white-text">Estado</td>
                                            </tr>
                                        </thead>
                                        <tbody class="white-background">
                                        <tr ng-repeat="payroll in payrolls">
                                            <td>
                                                <div class="table-data__info">
                                                    <h6 ng-bind="payroll.employee_name"></h6>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="table-data__info">
                                                    <span ng-if="payroll.salary.gross_income != payroll.salary.net_income">Mensual</span>
                                                    <span ng-if="payroll.salary.gross_income == payroll.salary.net_income">Por hora</span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="table-data__info">
                                                    <span ng-bind="payroll.salary.gross_income"></span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="table-data__info">
                                                    <span ng-bind="payroll.salary.net_income"></span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="table-data__info">
                                                    <span ng-bind="payroll.salary.pay_date"></span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="table-data__info">
                                                    <span ng-if="payroll.salary.status == 'payroll_finished'" class="state pending">Liquidado</span>
                                                    <span ng-if="payroll.salary.status == 'payment_sent'" class="state active">Enviado</span>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                        <h3 class="title-3 m-b-30 white-text" ng-if="payrolls.length == 0">No tiene liquidaciones registradas.</h3>
                                    </table>
                                </div>
                            </div>
                            <!-- END USER DATA-->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END PAGE CONTAINER-->
    </div>

</div>