<div class="page-wrapper" ng-controller="UpdatesController" ng-init="getUserId('{{user._id}}')">
    <!-- MENU SIDEBAR-->
    <aside class="menu-sidebar2">
        <div class="logo">
            <a href="#">
                <h2 style="color: white">¡Sueldos Ya!</h2>
            </a>
        </div>
        <div class="menu-sidebar2__content js-scrollbar1">
            <div class="account2">
                <h4 class="name">{{user.name}}</h4>
                <a href="/logout">Cerrar sesión</a>
            </div>
            <nav class="navbar-sidebar2">
                <ul class="list-unstyled navbar__list">
                    <li>
                        <a href="/employees">
                            <i class="fa fa-users"></i>Empleados
                        </a>
                    </li>
                    <li>
                        <span class="active">
                            <i class="fa fa-check-square"></i>Novedades
                        </span>
                    </li>
                    <li>
                        <a href="/payroll">
                            <i class="fa fa-dollar"></i>Liquidaciones
                        </a>
                    </li>
                    <li>
                        <a href="/bills">
                            <i class="fa fa-list-alt"></i>Facturas
                        </a>
                    </li>
                    <li>
                        <a href="/profile">
                            <i class="fa fa-user"></i>Cuenta
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>
    <!-- END MENU SIDEBAR-->

    <!-- PAGE CONTAINER-->
    <div class="page-container2">
        <!-- BREADCRUMB-->
        <section class="au-breadcrumb m-t-75">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="au-breadcrumb-content">
                                <div class="au-breadcrumb-left">
                                    <span class="au-breadcrumb-span">Usted está aquí:</span>
                                    <ul class="list-unstyled list-inline au-breadcrumb__list">
                                        <li class="list-inline-item">Novedades</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END BREADCRUMB-->

        <!-- HEADER -->
        <header class="header-desktop2 fading">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="header-wrap2">
                    </div>
                </div>
            </div>
        </header>
        <!-- END HEADER -->

        <section>
            <div class="section__content section__content--p30">
                <div class="container-fluid ">
                    <div class="row">
                        <div class="col-xl-12">
                            <!-- USER DATA-->
                            <div class="user-data m-b-40">
                                <h3 class="title-3 m-b-30">
                                    <i class="zmdi zmdi-calendar-check"></i>Novedades</h3>
                                
                                <div class="table-responsive table-data">
                                    <table class="table" ng-if="updates.length != 0">
                                        <thead>
                                            <tr>
                                                <td>Empleado</td>
                                                <td>Tipo de novedad</td>
                                                <td>Monto/Cantidad</td>
                                                <td>Fecha de creación</td>
                                                <td>Acciones</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in updates">
                                                <td>
                                                    <div class="table-data__info">
                                                        <span ng-bind="item.employee_name"></span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="table-data__info">
                                                        <span ng-if="item.update.update == 'worked_hours'">Horas trabajadas</span>
                                                        <span ng-if="item.update.update == 'salary_change'">Cambio de Sueldo</span>
                                                        <span ng-if="item.update.update == 'absense_days'">Días ausentes</span>
                                                        <span ng-if="item.update.update == 'per_hour_change'">Cambio valor por hora</span>
                                                        <span ng-if="item.update.update == 'bonus'">Bono</span>
                                                        <span ng-if="item.update.update == 'vacation_days'">Días de vacaciones</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="table-data__info">
                                                        <span ng-if="item.update.update == 'worked_hours'"><span ng-bind="item.update.mount"></span> horas</span>
                                                        <span ng-if="item.update.update == 'absense_days' || item.update.update == 'vacation_days'"><span ng-bind="item.update.mount"></span> días</span>
                                                        <span ng-if="item.update.update == 'bonus' || item.update.update == 'salary_change'">$ <span ng-bind="item.update.mount"></span></span>
                                                        <span ng-if="item.update.update == 'per_hour_change'">$ <span ng-bind="item.update.mount"></span> / hora</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="table-data__info">
                                                        <span ng-bind="item.update.creation_date"></span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="table-data__info">
                                                        <button class="action-icon" data-toggle="modal" data-target="#largeModal" ng-click="getUpdate(item.update._id)" title="Eliminar novedad">
                                                            <i class="fa fa-trash"></i>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <h3 class="title-3 m-b-30" ng-if="updates.length == 0">No tiene novedades registradas.</h3>
                                </div>
                            </div>
                            <!-- END USER DATA-->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END PAGE CONTAINER-->

        <!-- DELETE UPDATE -->
        <div class="modal fade" id="smallModal" tabindex="-2" role="dialog" aria-labelledby="smallModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="largeModalLabel">Esta seguro que desea eliminar el empleado <span ng-bind="form.name"></span></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="close-modal-btn">Cancelar</button>
                        <button type="button" class="btn btn-primary" ng-click="deleteUpdate()">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- END DELETE UPDATE -->
    </div>
</div>