
body .page-wrapper {
    overflow: auto;
}

.page-wrapper .container.login {
    background-color: #e5e5e5;
    max-width: none;
}
.page-wrapper .container.login .login-wrap {
    padding-bottom: 50px;
}

.page-wrapper .action-icon{
    margin-right: 5px;
}